:root {
    --main-bg-colour: #3B4247;
    --main-h-colour: #75B395;
    --secondary-h-colour: #487A74;
    --main-p-colour: #D3A67E;
    --secondary-bg-colour: #DED5B9;
}

html {
    background-color: var(--main-bg-colour);
}

main {
    padding: 0 4rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-h-colour);
    font-weight: 900;
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
}

td {
    background-color: var(--secondary-bg-colour);
}

td > strong {
    font-weight: 900;
    font-size: 1;
}

th {
    color: var(--main-p-colour);
    text-transform: uppercase;
}